services:
  data-ingestion:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: data-ingestion
    volumes:
      - ./data:/app/data  
      - ./src:/app/src     
    environment:
      DATABASE_PATH: "/app/data/database/financial_data.db"  
      LOAD_TYPE: "incremental"                              
    command: python /app/src/ingest/data_ingest.py
    restart: always
